<html>
	<head>
		<title>Curriculumulator</title>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="{{ url_for('static',filename='js/biplot.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	</head>
	<body>

		<div id="title">
			<h1>Curriculumulator</h1>
		</div>

		<div id="dropdowns">
			<select id="x_dropdown" onchange="updateBiplot(data)">
				{% for x in option_list %}
				<option value="{{ x }}">{{ x }}</option>
				{% endfor %}
			</select>
			<select id="y_dropdown" onchange="updateBiplot(data)">
				{% for x in option_list %}
				<option value="{{ x }}">{{ x }}</option>
				{% endfor %}
			</select>
		</div>

		<div id="viz" style="position:fixed;top:30%;left:10%;height:60%;width:80%;"></div>

		<script>

			data_string = {{ data_string|tojson }}
			data = JSON.parse(data_string)
			initialize_visualization(data)

		</script>

	</body>
</html>