<html>
	<head>
		<title>Curriculumulator</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	</head>
	<body>

		<div id="title">
			<h1>Curriculumulator</h1>
		</div>

		<div id="options">
			<a href="/explorer">
				<div class="option">
					<img class="option-img" src="{{ url_for('static', filename='img/explorer.png') }}">
					<p class="option-title">Subject Explorer</p>
				</div>
			</a>
			<br>
			<a href="/ranker">
				<div class="option">
					<img class="option-img" src="{{ url_for('static', filename='img/ranker.png') }}">
					<p class="option-title">Subject Ranker</p>
				</div>
			</a>
			<br><br><br>
			<p><i>More ideas for views? Shoot me a suggestion at ejbrisson@gmail.com!</i></p>
		</div>

	</body>
</html>