<html>
	<head>
		<title>Curriculumulator</title>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
	</head>
	<body>

		<div id="title">
			<h1>Curriculumulator: {{subject}}</h1>
		</div>

		<div id='tableContainer'>
			<table class="blueTable">
				<thead>
					<tr>
						<th>Metric</th>
						<th>Score</th>
						<th>Percentile</th>
						<th>Index</th>
					</tr>
				</thead>
				<tbody>
				{% for x in data %}
					<tr>
						<td>{{ x['metric'] }}</td>
						<td>{{ x['score'] }}</td>
						<td>{{ "{:.1%}".format(x['percentile']) }}</td>
						<td>{{ "{:.0f}".format(x['index']) }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>